
{% extends 'layout.twig' %}

{% block contentHeader %}
	Lista de Clientes 
{% endblock %}


{% block buttonHeader %}

	<button type="button" class="btn btn-success btn-circle">
		<i class="fa fa-plus"> </i>
	</button>

{% endblock %}


{% block conteudo %}

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>E-mail</th>
			</tr>
		</thead>
		<tbody>
			{% for cliente in clientes %}
			<tr>
				<td>{{ cliente.nome }}</td>
				<td>{{ cliente.email }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
